<h4>游戏帮助</h4>
<div style="padding:0px 50px">
  <p>&nbsp;</p>
  <p><STRONG>
  欢迎来到海盗时代</STRONG><strong><br />
  <%= link_to "点击这里进入互交式帮助" , :controller => :home, :action => :index ,:help => 1 %>
  </strong></p>
  <p><strong>抢劫<br />
  </strong>在你的小岛上，一共有四个码头，每个人都有四个码头，其中前三个是私人码头，你的好友可以到你的私人码头上来抢劫，你必须保卫你的码头不受攻击。当然，你也可以去抢劫你的好友的码头，别让他发现了哦。<BR>
  “我的船只”一栏，你可以通过这里查看你的所有船只的状态，可以卖掉你的船获得船原价的75%的金币。<br />
  “好友岛屿”会随机进入你的以为好友的岛屿<br />
  选择好你要出征的战船，然后点击“抢劫码头X”就可以对相应的码头进行抢劫了<br />
  抢劫的金币是随时间增加而增加的，也就是说你在他岛上抢得越久，得到的钱就越多，最多一次能抢1000金币<BR>
  你可以随时把你的船开到别人的岛屿上去抢劫，就可以得到钱了<BR>
  注意：你必须把船开走，你抢到的钱才是你的，如果在你抢劫的期间被对方击退，则钱归他，同样如果别人抢劫你的时候你把别人击退，TA抢的钱归你</p>
  <p><strong>贸易<br />
  </strong>玩家可以和安装好友之间进行正常贸易，也可以对非安装好友进行倒卖，赚取双倍的金币。只需要在好友的贸易码头上点击“交易”或者“倒卖”就可以了。但是每日贸易数目有限哦，目前是20次。</p>
  <p><strong>雇佣船长</strong><br />
    一、雇佣船长，就是你可以把你的好友雇佣过来给你的任意一艘船当船长，好处是，每个船长都有属性，初始全为0，升级后就可以对你的船只有加成作用，比如一次可以多抢一点，抢得更快点<br>
      <br>
      二、雇佣说明，你可以雇佣你所有的好友，最多雇佣数目为你拥有的船只数目。初始雇佣金额为1000元，你可以去买别人的雇佣船长，那么该雇佣船长的身价就会增加，每个雇佣船长最多只能被雇佣三次，你雇佣的船长会出现在你的“雇佣船长”页面。<br>
      <br>
      三、分配船长，在“雇佣船长”页面可以“分配船长”，就是把具体的某个船长任命到你的船只上去，前提是船只必须在自己的港口。所以特地给抢劫的船加了“返航”的功能<br>
      <br>
      四、船长升级，船长所在的船只没在外面抢劫100金币，则该船长可获得1点经验的奖励。当达到经验要求升级后，就会获得一点属性值。雇主有权利来分配这点属性值（初始一级的时候就有一点，可以自由分配）<br>
      <br>
  五、属性点分配，目前一共三个属性，容量（每次抢劫最多携带金币），抢劫速度（每小时抢劫金币单位数量），攻击（暂未开放的功能）。每增加一点各属性增加的量分别为，容量+100金币，抢劫速度+50金币/小时，攻击+2</p>
  <p><strong>维护费用</strong><br />
  每个用户最多可以拥有100艘船，而不同的船只数目会需要不同的维护费用，船只越多，所需维护费用越高。依次为20艘船以内无维护费用、21至50艘船20%维护费用、51至80艘船50%维护费用、80艘以上都是80%的维护费用，维修费用直接从用户每次抢劫所得金币中扣除
  <p><strong>问答</strong></p>
  <p>问：如何获得海盗币？</p>
  <p>答：可以通过邀请好友获得，每成功邀请一个好友可获得一个海盗币。</p>
  <p>问：海盗币有什么作用？</p>
  <p>答：可以用来修改船只名称，给船长洗掉属性点等（功能尚未开放）。<BR>
    <BR>
  </p>
</div>
