<h4>游戏帮助</h4>
<div style="padding:0px 100px">
  <p>欢迎来到海盗时代<br>
    从今天起，你成为了一名海盗，你拥有了自己的小岛，你有了你自己的船，你可以开着你的船去抢劫你的好友，把财富据为己有<br>
    当然你也得小心那些其他的海盗们<br />
	好啦，废话不多说了，让我们来开始新的海盗生涯
  </p>
  <%= link_to ">>点击这里开始游戏<<" ,:controller => :home, :action => :me ,:help => 3 %>
</div>
