<h4>游戏帮助</h4>
<div style="padding:0px 100px">
  <p>&nbsp;</p>
  <p><STRONG>
  欢迎来到海盗时代</STRONG><strong><br />
  <%= link_to "点击这里进入互交式帮助" , :controller => :home, :action => :index ,:help => 1 %>
  </strong></p>
  <p><STRONG>在你的小岛上，一共有四个码头，每个人都有四个码头，其中前三个是私人码头，你的好友可以到你的私人码头上来抢劫，你必须保卫你的码头不受攻击。当然，你也可以去抢劫你的好友的码头，别让他发现了哦。<BR>
  “我的船只”一栏，你可以通过这里查看你的所有船只的状态，可以卖掉你的船获得船原价的50%的金币。<br />
  “好友岛屿”会随机进入你的以为好友的岛屿<br />
  选择好你要出征的战船，然后点击“抢劫码头X”就可以对相应的码头进行抢劫了</STRONG><STRONG><br />
  抢劫的金币是随时间增加而增加的，也就是说你在他岛上抢得越久，得到的钱就越多，最多一次能抢1000金币<BR>
  你可以随时把你的船开到别人的岛屿上去抢劫，就可以得到钱了<BR>
  注意：你必须把船开走，你抢到的钱才是你的，如果在你抢劫的期间被对方击退，则钱归他，同样如果别人抢劫你的时候你把别人击退，TA抢的钱归你<BR>
  <BR>
  </STRONG></p>
</div>
