<style type="text/css">
.myshipbody {
	width: 800px;
	float:left;
	padding: 5px;
}
#showinfo{
text-align:right;
}
#shiplist{
float:left;
width:180px;
}
</style>
<div>
<div class="myshipbody">
我的船只
<% @current_user.usership.each do |ship| -%>
<div id="shiplist">
<img src="<%= ship.ship.img_url %>" border="0"><br>
<%= ship.name %>
</div>
<% end -%>
</div>
</div>