<ul id="friend_box_select">
<% 
@current_user.friend_ids.each do |friend|
%>
<li id="friend_select_li_<%= friend %>"><%= link_to Ml.name({"uid" => friend}),:controller => :home,:action => :friend,:id => friend %></li>
<% end %>
</ul>